@media (max-width: 1160px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-conteiner {
        height: 100vh;
        display: block;
        flex-direction: column;

        margin-top: 20%;
        margin-bottom: 10%;
    }

    .card-component-sedans {
        width: 340px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
    }

    .card-component-sedans h1 {
        font-size: 45px;
    }

    .card-component-sedans p {
        width: 261px;
        font-size: 17px;
    }

    .card-component-suvs {
        width: 340px;
        
    }

    .card-component-suvs h1 {
        font-size: 45px;
    }
    .card-component-suvs p {
        font-size: 17px;
    }
    .card-component-luxury {
        width: 340px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 20px;
    }

    .card-component-luxury h1 {
        font-size: 45px;
    }
    .card-component-luxury p {
        font-size: 17px;
    }

    .attribution  {
        display: none;
    }

}