@media (max-width: 1160px) {
    .card-conteiner {
        height: 100vh;
        display: block;
        width: 385px;
        margin-top: 20%;
        margin-bottom: 10%;
    }

    .card-component-sedans {
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
    }
    .card-component-luxury {
        border-top-right-radius: 0;
        border-bottom-left-radius: 20px;
    }

}